* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(97, 97, 187);
}
.cabeza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subti{
    text-align: center;
}

.card {
    display: flex;
    margin: 10px;
    align-content: center;
}
.card-header{
    background-color: blue;
    color: aliceblue;
}